---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<div class="author-info">
				<div class="image-cropper"><img src="{{page.profile}}"></div>
				<p class="subtitle">{{ page.author }}</p>
				{% if page.portfolio %}<a class="portfolio-link" href="{{ page.portfolio }}">Portfolio</a>{% endif %}
		</div>
		{% if page.repo %}
		<div class="info-container">
			<a class="info-tag" id="repo" href="{{ page.repo }}">Project repository</a>
		</div>
		{% endif %}
		<p>{{ page.subtitle }}</p>
		<div class="tag-custom">
			{% for tag in page.tags %}
				<span>{{ tag }}</span>
			{% endfor %}
		</div>
	</div>

</section>

<section class="single">

	{{ page.content }}

</section>